.pageRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addNewTimer {
    display: flex;
    flex-flow: row wrap;
}

.timersList {
    display: flex;
    flex-flow: row wrap;
}